/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: #8B008B;
    -fx-width: 200;
    -fx-height: 58;
    -fx-text-fill: white;
    -fx-font-weight: semi-bold;
    -fx-alignment: baseline-left;
    -fx-font: sans-serif;
    -fx-font-size: 16;
    -fx-label-padding: 5 0 0 0;
    -fx-padding: 0 0 0 50;
    -fx-border: none;
    -fx-border-color: #8B008B;
   
}
.button:hover{
    -fx-background-color: #4F91D3;
}

#selectedButton{
    
    -fx-border-color: #4F91D3;
    -fx-border-width: 0 0 0 5;
}

#header{
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#pane{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #C0C0C0, 0.0, 25.0, 3.0,  5.0);
}

#homepage-label{
    -fx-font: arial;
    -fx-font-size: 18;
    -fx-font-weight: semi-bold;
    -fx-alignment: center;
}

#homepage-label2{
    -fx-font: arial;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#profile{
    -fx-background-color: #8B008B;
}

#navbar{
    -fx-background-color: #8B008B;
}

/*#home-grid{
    -fx-background-color: #DCDCDC;
}*/


.mainFxmlClass {

}
